<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Show</title>
</head>
<body>
    <div class="container">
        
        <h1>{{ dojos.name }} Ninjas</h1>
        <table>
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Age</td>
                </tr>
            </thead>
            <tbody>
                {% for row in dojos.ninjas %}
                    <tr>
                        <td>{{ row.first_name }}</td>
                        <td>{{ row.last_name }}</td>
                        <td>{{ row.age }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Home</a>
    </div>

</body>
</html>